
body{
    text-align: center;
    background-color: #DCDCDC;
}

footer{

    bottom: 0%;
    position: relative;
    text-align: center;
    padding: 0px;
    margin-top: 4em;
    margin-bottom: 0em;
}

h1,h2,p, #counters li{
    font-family: 'DotGothic16', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;

    text-align: center;
}

p{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h1{
    font-size: min(15vw, 100px);
    padding: 0px;
    text-shadow: 2px 2px #999999;
}
h2{
    font-size: min(5vw, 33.33px);
    padding: 0px;
    text-shadow: 2px 2px #999999;
}

.gameContainer{

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.clicked{

}

.bomb{
    background-color: red;
}

.flexContainer{
    display: flex;
    flex-direction: columns;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
}


.leftSection, .emptyBox{

    justify-content: center;
    height: 100vh;
    vertical-align: center;
    width: 25%;
    top: 10em;
    margin-top: 10em;
    font-family: 'DotGothic16', sans-serif;

}
.leftSection .leaderboard{

}

.game{
}
.holdDown{
    background: #333333;
    color: #b3b3b3;
}


#counters{
    position: relative;
}

#counters p{
    font-family: 'VT323', monospace;
    margin-top: .2em;
    border: 2px solid black;
    text-align: center;
    transform: scale(1.2, 1);
    background-color: #555555;
    color: #ABD7E5;
    display:inline-block;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}

#emoji{
    width: 2em;
    height: 2em;
    padding:0.2em;
    border: 2px solid #787878;
    background-color: #999999;
    box-shadow: 3px 3px 5px 6px #ccc;

}

#tileCounter{


}
#bombCounter{

}


table{
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #808080;
    font-family: 'DotGothic16', sans-serif;
}

button{
    margin-top: 1.5em;
}

#grid TR TD{
    border: 1px solid #A9A9A9;
    font-family: 'Press Start 2P', cursive;
    width: 1.5em;
    height: 1.5em;
    color: white;
    left: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    min-width: 1.5em;
}
img{

    margin-top: .25em;
    margin-left: .1em;
    width: 1em;
    height: 1em;
}

.flag{
    width:1.2em;
    height: 1.2em;
}

#grid TR TD.clicked{
    background: #333333;
    color: #b3b3b3;
}

#flagCounter{
    margin-top: .5em;
}

.button{
    background-color: #708090; /* Green */
    border: 1px solid #2F4F4F;
    color: #DCDCDC;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 0em;
    font-size: 15px;
    font-family: 'DotGothic16', sans-serif;

}



#grid TR TD[cellData="1"]{
  color: #2b96c4;
}
#grid TR TD[cellData="2"]{
  color: green;
}
#grid TR TD[cellData="3"]{
  color: red;
}
#grid TR TD[cellData="4"]{
  color: blue;
}
#grid TR TD[cellData="5"]{
  color: maroon;
}
#grid TR TD[cellData="6"]{
  color: turqoise;
}
#grid TR TD[cellData="7"]{
  color: black;
}
#grid TR TD[cellData="7"]{
  color: gray;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
